<a href="https://colab.research.google.com/github/isabelavp/Programaci-n-en-R/blob/main/Clases/Clase3/Clase3_01_manipulacion_de_tablas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 2: Manipulación de tablas en R (Parte I)


**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Jorge Arévalo Labarca<br>
**E-mail ayudante:** jorge.arevalol@usach.cl

## 1. Instalación de librerías

En esta sección aprenderemos a realizar operaciones simples de manipulación de tablas en R. Para ello trabajaremos con la librería _dplyr_, la cual cuenta con una gran variedad de funciones para manipular tablas, entre otras.


Una manera de instalar librerías en R es me diante la función `install.packages()`, la cual recibe como argunmento principal el nombre (enre comillas) de la librería que se desea cargar.

Una vez instalada la librería la debemos cargar en la sesión de trbajao, para lo cual podemos utilizar la función `library()` la cual recibe como argumento el nombre de la librería que se quiere cargar.

In [1]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
# 1. Instalación de package
# install.packages("dplyr") # No instalaremos la librería pues ya viene cargada en los notebooks de azure.Probablemente sea necesario hacerlo en su entorno local.
# Para cargar la librería
library("dplyr") # sin comillas también funciona

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## 2. Funciones básicas en dplyr

En todo proyecto analítico es necesario procesar, limpar y unificar disntintas fuentes de información para poder generar los análisis requeridos. Para dichas tareas, en la librería _dplyr_ contamos con funciones que nos permitirán filtrar datos, crear columnas, agrupar tablas, y cruzar tablas.

A continuación trabajaremos con la siguientes funciones:<br>

   `filter()`                        : Para filtrar los datos (por filas).<br>
   `arrange()`                       : Para ordenar un dataset.<br>
   `select()`                        : Para seleccionar y renombrar columnas.<br>
   `mutate()`                        : Para crear (o modificar) nuevas columnas basadas en columnas existentes.<br>
   `group_by()`                     : Para agrupar tablas.<br>
   `sample_n()` and `sample_frac()`  : Para generar muestras aleatorias<br>
   
   
Para entender el funcionamiento de estas funciones trabjaremos con el set de datos _nycflights13_, el cual contiene la información de los vuelos con salida en los aeropuertos de Nueva York en el año 2013.

## 3. Carga de datos

En R es posible cargar datos provenientes de archivos de texto plano. Un ejemplo de ellos son los de extensión *.csv (comma separated values). Para cargar los datos a la sesión, lo podemos realizar a través de la función `read.csv()`, la cual recibe como argumento principal la ruta del archivo a cargar.

In [ ]:
getwd()

In [3]:
# Carga de datos ------
# Usaremos la función read.csv para cargar el archivo Datasets_flights.csv ubicado en "./Datasets/", y lo guardamos en una variable llamada vuelo.

vuelos <- read.csv("https://raw.githubusercontent.com/majorquev/DBDC_202106_Programacion_en_R_para_ciencia_de_datos/main/Clases/Clase3/Datasets/flights.csv")

In [4]:
vuelos

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
11     2013 1     1   558      600            -2         849      851
12     2013 1     1   558      600            -2         853      856
13     2013 1     1   558      600            -2         924      917
14     2013 1     1   558      600            -2         923      937
15     2013 1     1   559      600            -1         941      910
16     2013 1     1   559      559             0         702      706
17     2013 1     1   559      600            -1         854      902
18     2013 1     1   600      600             0         851      858
19     2013 1     1   600      600             0         837      825
20     2013 1     1   601      600             1         844      850
21     2013 1     1   602      610            -8         812      820
22     2013 1     1   602      605            -3         821      805
23     2013 1     1   606      610            -4         858      910
24     2013 1     1   606      610            -4         837      845
25     2013 1     1   607      607             0         858      915
26     2013 1     1   608      600             8         807      735
27     2013 1     1   611      600            11         945      931
28     2013 1     1   613      610             3         925      921
29     2013 1     1   615      615             0        1039     1100
30     2013 1     1   615      615             0         833      842
⋮      ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
336747 2013 9     30  2123     2125            -2       2223     2247
336748 2013 9     30  2127     2129            -2       2314     2323
336749 2013 9     30  2128     2130            -2       2328     2359
336750 2013 9     30  2129     2059            30       2230     2232
336751 2013 9     30  2131     2140            -9       2225     2255
336752 2013 9     30  2140     2140             0         10       40
336753 2013 9     30  2142     2129            13       2250     2239
336754 2013 9     30  2145     2145             0        115      140
336755 2013 9     30  2147     2137            10         30       27
336756 2013 9     30  2149     2156            -7       2245     2308
336757 2013 9     30  2150     2159            -9       2250     2306
336758 2013 9     30  2159     1845           194       2344     2030
336759 2013 9     30  2203     2205            -2       2339     2331
336760 2013 9     30  2207     2140            27       2257     2250
336761 2013 9     30  2211     2059            72       2339     2242
336762 2013 9     30  2231     2245           -14       2335     2356
336763 2013 9     30  2233     2113            80        112       30
336764 2013 9     30  2235     2001           154         59     2249
336765 2013 9     30  2237     2245            -8       2345     2353
336766 2013 9     30  2240     2245            -5       2334     2351
336767 2013 9     30  2240     2250           -10       2347        7
336768 2013 9     30  2241     2246            -5       2345        1
336769 2013 9     30  2307     2255            12       2359     2358
336770 2013 9     30  2349     2359           -10        325      350
336771 2013 9     30    NA     1842            NA         NA     2019
336772 2013 9     30    NA     1455            NA         NA     1634
336773 2013 9     30    NA     2200            NA         NA     2312
336774 2013 9     30    NA     1210            NA         NA     1330
336775 2013 9     30    NA     1159            NA         NA     1344
336776 2013 9     30    NA      840            NA         NA     1020
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
11      -2       B6        49   N793JB  JFK    PBI  149      1028     6
12      -3       B6        71   N657JB  JFK    TPA  158      1005     6
13       7       UA       194   N29129  JFK    LAX  345      2475     6
14     -14       UA      1124   N53441  EWR    SFO  361      2565     6
15      31       AA       707   N3DUAA  LGA    DFW  257      1389     6
16      -4       B6      1806   N708JB  JFK    BOS   44       187     5
17      -8       UA      1187   N76515  EWR    LAS  337      2227     6
18      -7       B6       371   N595JB  LGA    FLL  152      1076     6
19      12       MQ      4650   N542MQ  LGA    ATL  134       762     6
20      -6       B6       343   N644JB  EWR    PBI  147      1023     6
21      -8       DL      1919   N971DL  LGA    MSP  170      1020     6
22      16       MQ      4401   N730MQ  LGA    DTW  105       502     6
23     -12       AA      1895   N633AA  EWR    MIA  152      1085     6
24      -8       DL      1743   N3739P  JFK    ATL  128       760     6
25     -17       UA      1077   N53442  EWR    MIA  157      1085     6
26      32       MQ      3768   N9EAMQ  EWR    ORD  139       719     6
27      14       UA       303   N532UA  JFK    SFO  366      2586     6
28       4       B6       135   N635JB  JFK    RSW  175      1074     6
29     -21       B6       709   N794JB  JFK    SJU  182      1598     6
30      -9       DL       575   N326NB  EWR    ATL  120       746     6
⋮      ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
336747 -24       EV      5489   N712EV  LGA    CHO   45       305     21
336748  -9       EV      3833   N16546  EWR    CLT   72       529     21
336749 -31       B6        97   N807JB  JFK    DEN  213      1626     21
336750  -2       EV      5048   N751EV  LGA    RIC   45       292     20
336751 -30       MQ      3621   N807MQ  JFK    DCA   36       213     21
336752 -30       AA       185   N335AA  JFK    LAX  298      2475     21
336753  11       EV      4509   N12957  EWR    PWM   47       284     21
336754 -25       B6      1103   N633JB  JFK    SJU  192      1598     21
336755   3       B6      1371   N627JB  LGA    FLL  139      1076     21
336756 -23       UA       523   N813UA  EWR    BOS   37       200     21
336757 -16       EV      3842   N10575  EWR    MHT   39       209     21
336758 194       9E      3320   N906XJ  JFK    BUF   50       301     18
336759   8       EV      5311   N722EV  LGA    BGR   61       378     22
336760   7       MQ      3660   N532MQ  LGA    BNA   97       764     21
336761  57       EV      4672   N12145  EWR    STL  120       872     20
336762 -21       B6       108   N193JB  JFK    PWM   48       273     22
336763  42       UA       471   N578UA  EWR    SFO  318      2565     21
336764 130       B6      1083   N804JB  JFK    MCO  123       944     20
336765  -8       B6       234   N318JB  JFK    BTV   43       266     22
336766 -17       B6      1816   N354JB  JFK    SYR   41       209     22
336767 -20       B6      2002   N281JB  JFK    BUF   52       301     22
336768 -16       B6       486   N346JB  JFK    ROC   47       264     22
336769   1       B6       718   N565JB  JFK    BOS   33       187     22
336770 -25       B6       745   N516JB  JFK    PSE  196      1617     23
336771  NA       EV      5274   N740EV  LGA    BNA   NA       764     18
336772  NA       9E      3393   NA      JFK    DCA   NA       213     14
336773  NA       9E      3525   NA      LGA    SYR   NA       198     22
336774  NA       MQ      3461   N535MQ  LGA    BNA   NA       764     12
336775  NA       MQ      3572   N511MQ  LGA    CLE   NA       419     11
336776  NA       MQ      3531   N839MQ  LGA    RDU   NA       431      8
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
11      0     2013-01-01 06:00:00
12      0     2013-01-01 06:00:00
13      0     2013-01-01 06:00:00
14      0     2013-01-01 06:00:00
15      0     2013-01-01 06:00:00
16     59     2013-01-01 05:00:00
17      0     2013-01-01 06:00:00
18      0     2013-01-01 06:00:00
19      0     2013-01-01 06:00:00
20      0     2013-01-01 06:00:00
21     10     2013-01-01 06:00:00
22      5     2013-01-01 06:00:00
23     10     2013-01-01 06:00:00
24     10     2013-01-01 06:00:00
25      7     2013-01-01 06:00:00
26      0     2013-01-01 06:00:00
27      0     2013-01-01 06:00:00
28     10     2013-01-01 06:00:00
29     15     2013-01-01 06:00:00
30     15     2013-01-01 06:00:00
⋮      ⋮      ⋮
336747 25     2013-09-30 21:00:00
336748 29     2013-09-30 21:00:00
336749 30     2013-09-30 21:00:00
336750 59     2013-09-30 20:00:00
336751 40     2013-09-30 21:00:00
336752 40     2013-09-30 21:00:00
336753 29     2013-09-30 21:00:00
336754 45     2013-09-30 21:00:00
336755 37     2013-09-30 21:00:00
336756 56     2013-09-30 21:00:00
336757 59     2013-09-30 21:00:00
336758 45     2013-09-30 18:00:00
336759  5     2013-09-30 22:00:00
336760 40     2013-09-30 21:00:00
336761 59     2013-09-30 20:00:00
336762 45     2013-09-30 22:00:00
336763 13     2013-09-30 21:00:00
336764  1     2013-09-30 20:00:00
336765 45     2013-09-30 22:00:00
336766 45     2013-09-30 22:00:00
336767 50     2013-09-30 22:00:00
336768 46     2013-09-30 22:00:00
336769 55     2013-09-30 22:00:00
336770 59     2013-09-30 23:00:00
336771 42     2013-09-30 18:00:00
336772 55     2013-09-30 14:00:00
336773  0     2013-09-30 22:00:00
336774 10     2013-09-30 12:00:00
336775 59     2013-09-30 11:00:00
336776 40     2013-09-30 08:00:00

In [6]:
# Podemos inspeccionar los datos cargados
# Para ello son de utilidad las funciones head() y summary()
# ¿Cuántos registros tienen las tablas?
length(vuelos)

[1] 19

In [5]:
summary(vuelos)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute       time_hour
 Min.   : 0.00   Length:336776
 1st Qu.: 8.00   Class :character
 Median :29.00   Mode  :character
 Mean   :26.23
 3rd Qu.:44.00
 Max.   :59.00

In [ ]:
#glimpse() o str()

## 4. Funciones básicas de dplyr

A continuación exploraremos los datos de vuelos utilizando la librería dplyr.

### 4.1 Función filter()

La función filter() de dplyr es el equivalente a la sentencia where de sql.

In [ ]:
# filter() # where de sql----------------------------------------------------------------
# Registros que tengan fecha 31 de diciembre
# Antes
# Ahora

### 4.2 Función count()

Como su nombre lo indica, esta función nos permite contar registros de una tabla. Es de suma utilidad cuando se utiliza dentro de agrupaciones de tablas. Estas últimas las veremos más adelante. 

Alternativamente, en la librería _dplyr_, contamos con la función `N()` la cual también retorna el conteo de registros.

In [ ]:
# count() y N() ----------------------------------------------------------------
# ¿Cuántos vuelos hay registrados para el 25 de dic?¿y el primero de enero?

In [ ]:
#si quisiéramos guardar resgidtros en el disco, una manera es usando write.csv()

In [ ]:
# ¿Cuántos vuelos hay registrados entre noviembre y diciembre?¿A qué porcentaje del total corresponde?

In [ ]:
# ¿Qué porcentaje de vuelos tienen un retraso  (de salida o llegada) mayor a una hora?

#columnas arr_delay o dep_delay

In [ ]:
# ¿Cuántos vuelos llegaron con al menos dos horas de retraso pero no se retrasaron al partir?

### 4.3 Función arrange()

Esta función nos permite ordernar registros basándose en la indexación de alguna columna. Es el equivalente a la sentencia `order by` en sql. 
Esta función recibe como argumento principal un dataset a ordenar, y los nombres de las columnas por las cuales se quiere ordenar. Para más información consultar la ayuda de esta función (?arrange)

In [ ]:
# arrange() ----------------------------------------------------------------
# Ejemplo, podemos ordenar la data flights por mes y arr_delay

### 4.3 Funciones select() y rename()

La con la función `select` podemos seleccionar un subconjunto de columas de la tabla original. A difernecia de SQL en esta sentencia no podremos crear nuevas columnas, sólo renombrarlas en algunos casos. Notar que (obviamente) no se mantienen las columnas que no ingresan como argumento a la función.

La función rename() permite renombrar columnas existentes, manteniendo las columnas que no se están renombrando.

In [ ]:
# select() y rename() ----------------------------------------------------------------
# Ejemplo: Podemos seleccionar las columnas year, month, day, origin, dest

# Cómo lo haríamos con la sintaxis básica? (recorr como acceder a través del nombre a un vector, matrix, lista, o data.frame)

In [ ]:
# podemos renombrar la columna year
)

# NOTA: esto no modifica el dataset original

In [ ]:
#Existe gran variedad (pueden consultar la documentación respectiva)  de otras funciones dentro del package dplyr, por ejemplo: Seleccionar solo las variables que comiencen con "d"
# para su estudio

### 4.4 Función mutate()

Una de las funciones más útiles de dplyr es la función mutate(), la cual permite crear nuevas columnas, o modificar las existentes.

In [ ]:
# mutate() ----------------------------------------------------------------
# Crear una nueva columna llamada retraso_neto, que contenga la suma de arr_delay y dep_delay

#antes

#ahora

# Recordar que esta nueva columna solo existe en la ejecución y no se ha modificado el dataset original.

In [ ]:
# Primero defina una nueva data llamada muestra_fl que contenga la fecha, los retrasos, la distancia, y el tiempo de vuelo
# Cree una columna llamada gain que contenga la diferenecia entre arr_delay y dep_delay, y otra llamada speed que mida la velocidad en horas (distancia / tiempo de vuelo * 60)

### Operador %>% 

El operador estrella de dplyr. Funciona como una composición de funciones, y nos permite generar _pipe-lines_, permitiendo  que la generación  del código sea más ordenada, y con ello, su lectura más sencilla.

Este operdaor actua de la sifuiente manera, <br>

    x %>% f(y) , es equivalente a,  f(x,y)

In [ ]:
# Operador %>% ----------------------------------------------------------------
# Ejemplo sencillo 

# head(vuelos)


# Utilizando %>%

In [ ]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendiente por n,
# finalmente muestra la cabecera del dataset resultante.

## ANTES

In [ ]:
# Genere el conteo de vuelos por mes y día,
# luego filtre por aquellos registros donde el día es 1,
# ordene de manera descendiente por n,
# finalmente muestra la cabecera del dataset resultante.

## AHORA

In [ ]:
# A la onsulta anterior podríamos agregar una nueva columna indicando si el totalde vuelos es mayor a 970

In [ ]:
# Genere una nueva variable llamada day2 que pegue un "0" 
# a la variable day si es que esta contiene un dígito del 1 al 9.
# Para pegar cadena de caracteres sin espacios puede utilizar 
# la función paste0

#?paste0, ?nchar

In [ ]:
# Con esta variable genere un entero llamado fecha, que concatena year,month y day 2.

### 4.5 Función group_by() y summarise()

La función `summarise()` calcula medidas agregadas sobre columnas, mientras que la función `group_by`, genera un data.frame "en bloques" dados por la(s) columna(s) ingresadas como parámetros en la función.

In [ ]:
# group_by() y summarise() ----------------------------------------------------------------
# Ejemplo sencillo
exam2 <- data.frame(
  x = c(1:5),
  y = c(7:11),
  z = c("A", "B", "A", "B", "C")
)
exam2

In [ ]:
# Podemos generar un número de fila por cada grupo

In [ ]:
# 1) Aplicar la función summarise a la columna 'y' y calcular su promedio


# 2) Generar grupos según la variable z. (a diferencia de sql, el comando group_by() no requiere de una medida agregada para que este funcione.)
# select z, avg(x) mean_x, sum(x) tot_x from exam2 group by z

In [ ]:
# 3) Calcular media de x e y en cada valor de z.
# podemos calcular máximos y mínimos

In [ ]:
# promedio de retraso de llegada por origen-destino

In [ ]:
# ¿Cuáles son los aeropuertos de destino con mayor retraso medio en su llegada?

In [ ]:
# los podemos remover mediante el argumento na.rm de la función mean()

In [ ]:
# si quisiéramos ratar los NA's, podemos hacerlo de la sgte. manera

#consultamos los NA en arr_delay

# Recordar que NA == NA retorna NA . is.na(NA) retorna TRUE

In [ ]:
# Si queremos reemplazar los NA's por el promedio de arr_delay (?)

In [ ]:
# ¿Cuál es el promedio de arr_delay y distance por cada aeropuerto de destino?¿Cuántos vuelos llegaron acada uno de los destinos?. Ayuda: Recuerde que el conteo se puede determinar de dos maneras: con la función count() o con la función n().

)

### 4.6 Función sample_n() y sample_frac()

Estas funciones nos permitirán extraer muestras aleatorias de nuestros conjuntos de datos. Esto será de suma importancia cuando trabajemos con modelos de ML.

In [ ]:
# sample_n() y sample_frac()-------------------------------------------------------------

# muestra aleatoria de 100 registros de vuelos